<%= @player_1 %> vs <%= @player_2 %>

<form action='/player_1_HP' method='post'>
  <input type='submit' value="<%= @player_1 %>'s hp">
</form>
<form action='/player_2_HP' method='post'>
  <input type='submit' value="<%= @player_2 %>'s hp">
</form>